body {
  background-color: #1e1e1e;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.reservation-section {
  padding: 30px;
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
}

.reservation-section h2 {
  text-align: center;
  margin-bottom: 20px;
}

.reservation-section form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.reservation-section input {
  height: 30px;
  padding: 10px;
  border-radius: 5px;
  border: 2px solid #f4b63a;
  background-color: #323232;
  color: white;
}



.secondary-btn {
  margin-top: 20px;
  background-color: transparent;
  border: 2px solid #f4b63a;
  color: #f4b63a;
}
