<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Add Food | Lensons Kitchen</title>
  <link rel="icon" href="../static/images/LensonsKitchen.png" type="image/png" style="border-radius: 50%" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/reserve.css') }}" />
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/common.css') }}" />
</head>

<body>
  <header>
    <img id="logo" src="../static/images/LensonsKitchen.png" alt="Logo" />
    <nav>
      <a href="/">Home</a>
      <a href="/foodmenus">Food Menus</a>
      <a href="/drinksmenus">Drinks Menus</a>
      <a href="/offers">Offers</a>
      <a href="/events">Weekly Events</a>
      <a href="/reserve">Reservations</a>
    </nav>
    <img onclick="takemepfp()" class="profile-img" id="profilePic"
      src="{{ url_for('static', filename='images/user.png') }}" alt="User" />
  </header>

  <main>
    <section class="reservation-section">
      <h2>Add food items</h2>
      <form id="reservation-form">
        <label>Food Name</label>
        <input type="text" name="food_name" required />

        <label>Price</label>
        <input type="number" name="price" placeholder="Price" required />

        <label>Description</label>
        <input type="text" name="Description" placeholder="Description" />

        <label>Ingridients</label>
        <input type="text" name="ingridients" placeholder="Ingridients..." />

        <button type="submit">Add</button>
      </form>
      <a href="/profile">
        <button id="view-reservations-btn" class="secondary-btn">
          View My Reservations
        </button>
      </a>
      <a href="/profile">
        <button id="add-order-btn" class="secondary-btn ms-5">
          Add order
        </button>
      </a>
    </section>
  </main>

  <footer>
    <hr />
    <p>Location: Mpaka Road, Westlands</p>
    <p>&copy; 2025 Lensons Kitchen</p>
  </footer>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="{{ url_for('static', filename='scripts/reserve.js') }}"></script>
</body>

</html>